/*** Woocommerce ****/
body.singular-product main {
  padding: 90px 50px;
}
#contact-shop-section {
  display: flex;
  flex-wrap: wrap;
}

#contact-shop-section .image-wrapper {
  flex: 1;
}

#contact-shop-section .contact-wrapper {
  width: 360px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

#contact-shop-section .contact-wrapper label {
  font-family: Graduate;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #666666;
}

#contact-shop-section .contact-wrapper h2 {
  margin: 9px 0px 10px;
  padding: 25px 0px;
  border-top: 1px solid #AAAAAA;
  border-bottom: 1px solid #AAAAAA;
  position: relative;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
  color: #666666;
}

#contact-shop-section .contact-wrapper h2::before {
  position: absolute;
  height: 4px;
  width: 100%;
  content: '';
  left: 0px;
  top: 4px;
  background-color: #EEEEEE;
}

#contact-shop-section .contact-wrapper h2::after {
  position: absolute;
  height: 4px;
  width: 100%;
  content: '';
  left: 0px;
  bottom: 4px;
  background-color: #EEEEEE;
}

#contact-shop-section .contact-wrapper .contact-info {
  display: flex;
  flex-direction: column;
}

#contact-shop-section .contact-wrapper .contact-info span {
  margin-bottom: 5px;
}

#contact-shop-section .contact-wrapper .contact-info i {
  margin-right: 5px;
}