// body.singular-product #single-product-builder .title-section {
//   background-color: red;
// }
body.singular-product  {
  #single-product-builder {
    .title-section {
      padding: 20px 30px;
      height: 93px;
      background-color: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      box-sizing: border-box;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
      .logo {
        position: absolute;
        left: 30px;
        top: 20px;
      }
      h2 {
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #000000;
        margin: 0px;
      }
    }
    .product-builder-content {
      display: flex;
      flex-wrap: wrap;
      .product-container {
        flex: 1;
        background: #F2F2F2;
      }
      .product-custom-bar {
        width: 270px;
        background-color: #FFF;
        .setting-title-section {
          padding: 20px 30px;
          label {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #878787;
          }
        }
        .product-setting-item-component {
          padding: 15px 30px;
          border-top: 1px solid rgba(236, 236, 236, 0.8);
          display: flex;
          flex-direction: column;
          label {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #333333;
          }
          .size-settings-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            span {
              font-family: Lato;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              text-transform: uppercase;
              color: rgba(135, 135, 135, 0.6);
              margin-right: 5px;
            }
            input {
              max-width: 75px;
              border-radius: 4px;
            }
          }
          &.window-settings {
            .description {
              font-family: Lato;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 14px;
              color: #878787;
              max-width: 165px;
              margin-top: 10px;
            }
          }
          &.lock-placement-settings {
            .button-wrapper {
              margin-top: 15px;
              button {
                margin-right: 10px;
                width: 80px;
                height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                color: rgba(51, 51, 51, 0.5);
                border-radius: 56px;
                &.active {
                  background: #1396E7;
                  color: #FFF;
                }
              }
            }
          }
        }
      }
    }
  }
}

.d-flex {
  display: flex;
  &.align-items-center {
    align-items: center;
  }
  &.justify-content-between {
    justify-content: space-between;
  }
}
