
body {
  #single-product-builder {
    padding: 85px 80px 80px;
    background: #FAFBFB;
    @media (max-width: 1023px) {
      padding: 25px 15px;
    }
    .title-section {
      padding: 20px 30px;
      height: 93px;
      background-color: #FFF;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      box-sizing: border-box;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
      .logo {
        position: absolute;
        left: 30px;
        top: 20px;
      }
      h2 {
        text-align: center;
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #000000;
        margin: 0px;
      }
      @media (max-width: 700px) {
        height: fit-content;
        .logo {
          position: unset;
          top: unset;
          left: unset;
          margin-bottom: 20px;
        }
        flex-direction: column;
        align-items: center;
        
      }
    }
    .product-builder-content {
      display: flex;
      flex-wrap: wrap;
      .product-container {
        flex: 1;
        background: #F2F2F2;
        padding: 30px 50px;
        position: relative;
        overflow: hidden;
        @media (max-width: 1023px) {
          padding: 30px 20px;
          @media (max-width: 799px) {
            padding-bottom: 0px;
            height: fit-content;
          }
        }
        #product-container {
          width: 100%;
          height: 100%;
          .react-transform-wrapper {
            width: 100%;
            height: 100%;
            max-height: 450px;
            .react-transform-component {
              width: 100%;
              height: 100%;
            }
            .wall-wrapper {
              width: 100%;
              height: 100%;
              max-height: 450px;
              background-color: #CCAC7B;
              background-size: auto 100%;
              padding: 40px 30px 0px;
              box-sizing: border-box;
              display: flex;
              &.grid-wall {
                background-image: url(./assets/grid.svg);
              }
              &.single-grid-wall {
                background-image: url(./assets/single_grid.svg);
                background-size: 120%;
              }
              .outline-door {
                box-sizing: border-box;
                border-top: 20px solid #FFF;
                border-left: 17px solid #FFF;
                border-right: 17px solid #FFF;
                height: 100%;
                width: 100%;
                margin-top: auto;
                margin-left: auto;
                margin-right: auto;
                .inline-door {
                  width: 100%;
                  height: 100%;
                  box-sizing: border-box;
                  border-top: 7px solid #A6A7A8;
                  border-left: 9px solid #C9C9C9;
                  border-right: 9px solid #C9C9C9;
                  overflow: hidden;
                  .inline-wrapper {
                    padding-top: 24px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-bottom: 20px;
                    background-color: #ADA487;
                    width:100%;
                    height: 100%;
                    box-sizing: border-box;
                    background-image: url(./assets/door_background.png);
                    background-position: 0px -10px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    .window-wrapper {
                      display: grid;
                      grid-template-columns: repeat(4, 1fr);
                      gap: 10px;
                      flex: 1;
                      > .window-item {
                        border: 1.04035px dashed #FFFFFF;
                        box-sizing: border-box;
                        position: relative;
                        .btn {
                          z-index: 2;
                          width: 40px;
                          height: 40px;
                          border-radius: 50%;
                          background: #FFFEFE;
                          box-shadow: 0px 6.16667px 7.70833px 4.625px rgba(106, 100, 100, 0.19);
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          position: absolute;
                          top: calc(50% - 20px);
                          left: calc(50% - 20px);
                          transition: all .25s;
                          cursor: pointer;
                          &:hover {
                            background-color: #FEFEFE;
                          }
                          opacity: 0;
                        }
                        &:not(.disableWindow) {
                          &::before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            background: rgba(255, 255, 255, 0.28);
                            box-sizing: border-box;
                            top: 0px;
                            left: 0px;
                            opacity: 0;
                          }
                          &.no-window {
                            &:hover {
                              &::before {
                                opacity: 1;
                              }
                              .btn.btn-add {
                                opacity: 1;
                              }
                            }
                          }
                          &.active-window {
                            &:hover {
                              .btn.btn-remove {
                                opacity: 1;
                              }
                            }
                            border: 4px solid #FFF;
                            background: #5f5250;
                          }
                        }
                        &.disableWindow {
                          border: 1px solid #FFFFFF;
                          opacity: .3;
                        }
                      }
                    }
                    .vents-wrapper {
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: space-between;
                      margin-top: 20px;
                      > * {
                        flex-basis: calc((100% - 60px) / 4);
                        img {
                          width: 100%;
                        }
                      }
                    }
                    .lock {
                      width: 26px;
                      height: 24px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: absolute;
                      left: calc(50% - 13px);
                      top: calc(50% - 12px);
                    }
                  }
                }
              }
              @media (max-width: 799px) {
                padding: 40px 30px 0px;
              }
            }
          }
          .wallSettings {
            margin-top: 50px;
            display: flex;
            align-items: center;
            position: relative;
            > div {
              background: #FFFFFF;
              border-radius: 9px;
              padding: 10px;
              .btn-color-picker {
                cursor: pointer;
                transition: transform .25s;
                &:hover {
                  transform: scale(1.1);
                }
                &:active {
                  transform: scale(1);
                }
              }
            }
            .wall-item {
              margin-right: 14px;
              box-sizing: border-box;
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              button {
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: none;
                box-shadow: none;
                border: none;
                padding: 0px;
                &.grid {
                  background-image: url(./assets/small_grid.svg);
                  
                }
                &.single-line {
                  background-image: url(./assets/small_single_grid.svg);
                }
                &.single {
                  background-color: #CCAC7B;
                }
              }
            }
            @media (max-width: 799px) {
              position: absolute;
              left: 20px;
              top: 34px;
              margin-top: 0px;
              .wall-item {
                margin-right: 10px;
              }
            }
          }
          .zoom-control-panel {
            background-color: #FFF;
            border-radius: 16px;
            margin-left: auto;
            margin-bottom: 60px;
            display: flex;
            align-items: center;
            width: fit-content;
            @media (max-width: 799px) {
              margin-bottom: 25px;
            }
            .size-section,
            .zoom-control {
              padding: 15px 20px;
              @media (max-width: 799px) {
                padding: 10px;
              }
            }
            .zoom-control {
              display: flex;
              align-items: center;
              border-right: 1px solid #F2F2F2;
              .zoom-value {
                user-select: none;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #000000;
                margin: 0px 10px;
              }
              .btn-zoom {
                cursor: pointer;
                &:hover {
                  svg {
                    path {
                      transition: all .25s;
                      stroke: #1396E7;
                    }
                  }
                }
              }
            }
            .size-section {
              span {
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #878787;
                user-select: none;
              }
              @media (max-width: 640px) {
                display: none;
              }
            }
          }
        }
      }
      .product-custom-bar {
        width: 270px;
        background-color: #FFF;
        .btn-times {
          display: none;
        }
        @media (max-width: 799px) {
          display: none;
          .btn-times {
            display: block;
            font-size: 24px;
            position: fixed;
            cursor: pointer;
            top: 60px;
            right: calc(4vw + 20px);
          }
        }
        .setting-title-section {
          padding: 20px 30px;
          label {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: #878787;
          }
        }
        .product-setting-item-component {
          padding: 15px 30px;
          border-top: 1px solid rgba(236, 236, 236, 0.8);
          display: flex;
          flex-direction: column;
          label {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            color: #333333;
            span {
              &.additional_price_alert {
                padding: 2px 8px;
                background-color: #EBFFF0;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                color: #028C29;
                border-radius: 4px;
                margin-left: 5px;
              }
            }
          }
          .size-settings-wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            span {
              font-family: Lato;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              text-transform: uppercase;
              color: rgba(135, 135, 135, 0.6);
              margin-right: 5px;
              &.label {
                display: flex;
                align-items: center;
                width: 12px;
              }
            }
            input {
              max-width: 75px;
              border-radius: 4px;
            }
            .input-wrapper {
              display: flex;
              align-items: center;
              input {
                margin: 0px 5px;
              }
              span {
                height: 100%;
                font-size: 26px;
              }
            }
            .height-wrapper {
              margin-top: 15px;
            }
            > .range-error {
              font-size: 10px;
              text-transform: capitalize;
              color: #FF4444;
              margin-top: 5px;
              text-align: center;
            }
          }
          .size-range {
            margin: 10px 0px 5px;
            font-size: 12px;
            line-height: 120%;
            font-weight: bold;
          }
          &.window-settings {
            .description {
              font-family: Lato;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 14px;
              color: #878787;
              max-width: 165px;
              margin-top: 10px;
            }
          }
          &.pressure-settings {
            select {
              margin-top: 10px;
              &.disabled {
                pointer-events: none;
                opacity: 0.4;
                cursor: not-allowed;
              }
            }
            .additional_price_alert {
              margin-left: 0px;
              margin-top: 10px;
              padding: 2px 8px;
              background-color: #EBFFF0;
              font-family: Lato;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              color: #028C29;
              border-radius: 4px;
              width: fit-content;
            }
          }
          &.lock-placement-settings {
            .button-wrapper {
              margin-top: 15px;
              button {
                margin-right: 10px;
                width: 80px;
                height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                color: rgba(51, 51, 51, 0.5);
                border-radius: 56px;
                border: none !important;
                box-shadow: none !important;
                background: #F2F2F2 !important;
                &.active {
                  background: #1396E7 !important;
                  color: #FFF;
                }
              }
            }
          }
          &.colors-settings {
            .colors-wrapper {
              margin-top: 10px;
              .color-item {
                margin-right: 8px;
                padding: 0px;
                width: 24px;
                height: 24px;
                display: flex;
                border-radius: 50%;
                &:not(:last-child) {
                  margin-right: 10px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                  box-sizing: border-box;
                  padding: 0px;
                  border: none !important;
                  box-shadow: none !important;
                }
              }
            }
            .addPrice {
              padding: 2px 8px;
              background-color: #EBFFF0;
              font-family: Lato;
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              color: #028C29;
              border-radius: 4px;
            }
          }
          &.addCartButton {
            padding-bottom: 50px;
            button {
              padding: 15px;
              background-color: #1396E7;
              font-family: Lato;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
              color: #FFFFFF;
              border: 1px solid #1396E7;
              transition: all .25s;
              &:hover {
                opacity: 0.6;
              }
            }
            p {
              font-size: 12px;
              margin-top: 15px;
              margin-bottom: 0px;
              text-align: center;
              position: relative;
              line-height: 140%;
              background: hsla(203, 84%, 71%, 0.667);
              color: white;
              padding: 5px;
              border-radius: 8px;
              .times {
                position: absolute;
                top: 0px;
                right: 3px;
                cursor: pointer;
                font-size: 20px;
              }
            }
          }
          &.price-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            label {
              font-family: Lato;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 14px;
              color: #878787;
            }
            p {
              margin: 0px;
              font-family: Lato;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 14px;
              color: #333333;
            }
          }
        }
        &.fixed-pos {
          display: block;
          position: fixed;
          top: 50px;
          bottom: 50px;
          left: 4vw;
          right: 4vw;
          z-index: 1111;
          width: auto;
          overflow: auto;
        }

      }
    }
  }
}

.d-flex {
  display: flex;
  &.align-items-center {
    align-items: center;
  }
  &.justify-content-between {
    justify-content: space-between;
  }
}

/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #FFF;
    border: 1px solid #1396e7;
    border-radius: 5px;
  }
  &:hover {
    input ~ .checkmark {
      background-color: #ccc;
    }
  }
  input:checked ~ .checkmark {
    background-color: #FFF;
    &::after {
      display: block;
    }
  }
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: #1396e7;
  }
}

.slider-bar {
  padding: 20px 0px;
  flex: 1;
  .horizontal-slider {
    flex: 1;
    margin-right: 24px;
    margin-top: 20px;
    height: 4px;
    border-radius: 13px;
    .example-thumb {
        width: 10px;
        height: 10px;
        top: -3px;
        border-radius: 50%;
        background-color: #1396E7;
        font-size: 0px;
        outline: none !important;
        cursor: pointer;
    }
    .example-track.example-track-0 {
      background-color: #1396E7;
      height: 4px;
      overflow: hidden;
    }
    .example-track.example-track-1 {
      background-color: #F1F1F1;
      height: 4px;
      overflow: hidden;
    }
  }
  .minmax {
      padding-left: 20px;
      padding-right: 65px;
  }
}

.btn-add-cart {
  &.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.mobile-switch-button {
  display: none;
  @media (max-width: 799px) {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 20px 0px 20px auto;
    padding: 10px;
    background: #FAFBFB;
    box-shadow: 1.94182px 2.5891px 24.5964px rgba(0, 0, 0, 0.05), 1.94182px 2.5891px 24.5964px rgba(0, 0, 0, 0.05);
    border-radius: 8.41456px;

    span {
      margin-right: 10px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.background-overlay {
  display: none;
  &.fixed-pos {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1000;
  }
}

body.no-scroll {
  overflow: hidden;
}